package models

import (
	"github.com/google/uuid"
	"gorm.io/gorm"
)

type {{ model }} struct {
	gorm.Model
	ID              uuid.UUID       `gorm:"primary_key; type:uuid; default:gen_random_uuid()" json:"id"`
}
